<!-- render user's personal posts here -->
<nav class="navbar navbar-expand-lg fixed-top top-nav">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item login">
            <a class="nav-link" id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item login">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
</nav>

<div class="all-posts">
    <h3 class="home-center card-title text-muted">Hello {{name}}.</h3>
    <div class="submit-section">
        <button class="wide-button btn btn-primary primary-button" id="new-post" type="submit">New Post</button>
    </div>
    {{#each user.post}}
    <div class="post-card">
    <div class="card mb-3">
        <div id="home-center">
            <a class="home-post" href="/api/post/{{id}}">
                <div class="card-body card-border">

                    <div class="home-center">
                        <div>

                            <h5 class="card-title home-center">{{user.post.title}}</h5>
                            <p class="card-text">{{user.post.body}}</p>
                            <div class="card-desc">
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>
    {{/each}}
</div>

<script src="/js/logout.js"></script>
<script src="/js/post.js"></script>