<nav class="navbar navbar-expand-lg fixed-top top-nav">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item login">
            <a class="nav-link" id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item login">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
</nav>

<div id="blog-post">
  <div id="blog-center">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-img background-white"></div>
      <div class="card-img-overlay">
        <div class="user-actions">
          <button id="edit-post-button" postID="{{post.id}}">✎ edit</button>
          <button id="delete-post-button" postID="{{post.id}}">delete</button>
        </div>
        <div id="blog-title">
          <textarea id='title-input' placeholder="title">{{post.title}}</textarea>
        </div>
        <div id="blog-content">
          <textarea id="text-input" placeholder="body">{{post.body}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/post.js"></script>